.img {
  background: #70809080;
  border-radius: 8px;
  width: 512px;
  max-width: 100%;
  aspect-ratio: 16/9;
  padding: 16px;
  white-space: pre-wrap;
  opacity: 0.5;
  font-family: monospace;
}

.banner {
  background: url(/light-aluminum.png),
    linear-gradient(67.5deg, #808080, #404040);
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 16px;
  text-align: center;
  height: auto;
  white-space: pre-wrap;
  overflow: hidden;
  background-blend-mode: hard-light;
  filter: sepia(1) hue-rotate(168.75deg) saturate(0.5);
}

[aria-roledescription="flowchart-v2"] {
  /* filter: sepia(1) hue-rotate(168.75deg) saturate(0.5); */
}

.banner img {
  width: 240px;
  filter: saturate(0) drop-shadow(0 2.5px 2px rgb(0 0 0 / 0.16))
    drop-shadow(0 1px 0.75px rgb(0 0 0 / 0.4)) drop-shadow(0 0 20px #fff000c0);
}

article.nextra-body-typesetting-article a:hover {
  text-decoration: none !important;
}

html.light iframe {
  mix-blend-mode: multiply;
}

html.dark iframe {
  mix-blend-mode: screen;
}
